// .borderless td, .borderless th {
//     border: none;
// }
.btn {
    margin-right: 1vw;
    background: #4285F4;
    color: white;
    font-size: 9px;
    line-height: 18px;
    height: auto;
    width: auto;
}

.txtColor:hover{
    color: red;
    cursor: pointer;
  }
  
  .background-highlight{
    background: rgb(179, 243, 243);
  }