.btn {
    margin-right: 1vw;
    background: #4285F4;
    color: white;
    // font-size: 9px;
    line-height: 25px;
    height: 25px;
    width: auto;
}

.selected {
    background: rgb(179, 243, 243);
}